:root {
	--greenBase: #3f4021;
	--greenBase-H: rgb(33, 34, 18);
	--greenBase-A: rgb(55, 56, 30);
	--greenBase-D: rgb(139, 141, 78);
	--green100: #6b6c6e;

	--whiteBase: #fff;
	--white100: #dedddd;
	--white100-90: #dedddde6;
	--white200: #f4f4f4;

	--blackBase: #000;
	--blackBase-40: rgba(0, 0, 0, 40%);
	--blackBase-20: rgba(0, 0, 0, 20%);

	--danger: rgb(255, 56, 56);
	--danger-A: rgb(206, 43, 43);
	--danger-H: rgb(156, 33, 33);

	--modules-gap: 70px;
	--header-height: 254px;
}

* {
	scroll-margin-top: calc(40px + var(--header-height));
}

@media screen and (min-width: 481px) {
	body {
		--header-height: 327px;
	}
}
