.wrapper {
	position: relative;
	flex-grow: 1;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	&::-webkit-scrollbar {
		width: 4px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--greenBase);
		border-radius: 335px;
	}
}
.empty {
	position: absolute;
	left: 50%;
	top: 40%;
	translate: -50%;
	color: var(--white100);
	text-align: center;
	font-size: 27px;
	svg {
		width: 68px;
		height: 68px;
	}
	h2 {
		white-space: nowrap;
	}
}
.list {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
