.wrapper {
	display: flex;
	align-items: center;
	column-gap: 20px;
	font-size: 14px;
	border-bottom: 2px solid var(--greenBase);
	padding-bottom: 15px;
	cursor: pointer;
	transition: 0.2s ease;
	&:hover {
		scale: 1.005;
	}

	.btn {
		padding: 10px 15px;
		font-size: 14px;
		margin-left: auto;
	}
}
.delete_btn {
	display: flex;
	border: 2px solid var(--danger);
	padding: 8px;
	border-radius: 7px;
	transition: 0.2s ease;
	svg {
		width: 19px;
		height: 19px;
		color: var(--danger);
	}
	&:hover {
		background-color: var(--danger);
		svg {
			color: var(--whiteBase);
		}
	}
}

@media screen and (min-width: 601px) {
	.delete_btn {
		padding: 10px;
		svg {
			width: 24px;
			height: 24px;
		}
	}
	.wrapper {
		column-gap: 30px;
		font-size: 18px;

		.btn {
			padding: 14px 19px;
			margin-left: auto;
			font-size: 18px;
		}
	}
}

@media screen and (min-width: 769px) {
	.wrapper {
		column-gap: 50px;
		font-size: 22px;
	}
}
