.wrapper {
	transition: 0.1s ease;
	&.variant_fill {
		color: var(--whiteBase);
		background-color: var(--greenBase);

		border-radius: 7px;
		padding: 15px 25px;
		font-size: 20px;

		&:hover {
			background-color: var(--greenBase-H);
		}
		&:active {
			background-color: var(--greenBase-A);
		}
		&:disabled {
			opacity: 0.6;
			background-color: var(--greenBase-D);
		}
	}
	&.variant_danger {
		color: var(--whiteBase);
		background-color: var(--danger);
		border-radius: 7px;
		padding: 15px 25px;
		font-size: 20px;

		&:hover {
			background-color: var(--danger-H);
		}
		&:active {
			background-color: var(--danger-A);
		}
	}
	&:disabled {
		cursor: not-allowed;
	}
}
