.wrapper {
	background-color: var(--greenBase);
	padding-top: 18px;
	padding-bottom: 18px;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 10;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	img {
		height: 35px;
	}
}

@media screen and (min-width: 481px) {
	.logo {
		img {
			height: 53px;
		}
	}
}
