.wrapper {
	padding: 40px 20px;
}
.title {
	font-size: 32px;
}
.form {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.switch_type {
	font-size: 18px;
}
.btn {
	width: 40%;
	min-width: 300px;
	margin: 0 auto;
}

@media screen and (min-width: 1025px) {
	.wrapper {
		padding-bottom: var(--modules-gap);
	}
}
