.wrapper {
	display: flex;
	align-items: center;
	column-gap: 12px;
	margin-top: 15px;
}

.btn {
	display: flex;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid var(--greenBase);
	&:disabled {
		cursor: not-allowed;
		border-color: var(--white100);
	}
	&:not(:disabled):hover {
		scale: 1.05;
		box-shadow: 2px 2px 5px 0 var(--blackBase-20);
	}
	svg {
		width: 16px;
		height: 16px;
	}
}

@media screen and (min-width: 481px) {
	.wrapper {
		column-gap: 20px;
	}
	.btn {
		svg {
			width: 24px;
			height: 24px;
		}
	}
}
