.wrapper {
	flex-grow: 1;
}
.list {
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	font-size: 18px;
}

.text {
	font-size: 18px;
}

@media screen and (min-width: 601px) {
	.list {
		margin-bottom: 70px;
		font-size: 22px;
	}
	.text {
		font-size: 22px;
	}
}
