.wrapper {
	display: flex;
	padding: 40px 20px;
	column-gap: 40px;
	& > img {
		width: 40%;
		object-fit: cover;
	}
}
.content {
	flex-grow: 1;
}

@media screen and (min-width: 1025px) {
	.wrapper {
		padding-bottom: var(--modules-gap);
	}
}
