.wrapper {
	max-width: 400px;
	width: 100%;
	background-color: var(--whiteBase);
	box-shadow: 2px 0 5px 0 var(--blackBase-20);
	padding: 30px;
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	translate: -100% 0;
	transition: 0.5s ease;
	overflow: auto;
	&::-webkit-scrollbar {
		width: 5px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--white100);
	}
	&.active {
		translate: 0;
	}
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.close_btn {
	display: flex;
	&:hover {
		scale: 1.15;
	}
	svg {
		width: 30px;
		height: 30px;
	}
}
.title {
	font-size: 36px;
}
.nav {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	margin-top: 30px;
}
.link {
	padding: 10px 15px;
	transition: 0.2s ease;
	border-radius: 8px;
	&:hover {
		background-color: var(--white200);
	}
	&.active {
		background-color: var(--white200);
	}
}
.back_btn {
	display: flex;
	column-gap: 12px;
	align-items: center;
	padding: 8px 4px;
	width: max-content;
	margin-top: 30px;
}

@media screen and (min-width: 769px) {
	.wrapper {
		max-width: 300px;
		position: static;
		translate: 0;
		z-index: 0;
	}
}
