.wrapper {
}
.label {
	margin-bottom: 2px;
	font-size: 18px;
}
.content {
	border: 1px solid var(--green100);
	display: flex;
	align-items: center;
	column-gap: 10px;
	padding: 8px 12px;
	border-radius: 8px;
	background-color: var(--whiteBase);
}
.error_message {
	color: var(--danger);
	margin-top: 2px;
	font-size: 18px;
}
.input {
	font-family: JosefinSans;
	font-weight: 400;
	font-size: 18px;
	width: 100%;
	flex: 1;
}
.show_btn {
	display: flex;
	svg {
		color: var(--green100);
	}
}
