.wrapper {
	background-color: var(--greenBase);
	padding: 50px 0;
	color: var(--whiteBase);
}
.data {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	font-size: 14px;
	text-align: center;
}
.container {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: center;
}
.info {
	row-gap: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 14px;
}
.nav {
	text-align: center;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	font-size: 18px;
}
.logo {
	img {
		width: 60px;
		height: auto;
	}
}

@media screen and (min-width: 481px) {
	.logo {
		img {
			width: 90px;
			height: auto;
		}
	}
	.data {
		text-align: start;
	}
	.info {
		font-size: 16px;
	}
	.data {
		font-size: 18px;
	}
	.container {
		justify-content: space-between;
	}
}
