.wrapper {
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - var(--page-layout-height));
}

.title {
	font-size: 36px;
	margin-bottom: 30px;
}

@media screen and (min-width: 1025px) {
	.wrapper {
		padding-bottom: var(--modules-gap);
	}
}
