.wrapper {
}
.title {
	font-size: 32px;
}
.subtitle {
	margin-top: 26px;
	margin-bottom: 46px;
	font-size: 24px;
}
.item_btn.btn {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: auto;
	font-size: 16px;
}

@media screen and (min-width: 600px) {
	.item_btn.btn {
		width: 460px;
		font-size: 20px;
	}
}
@media screen and (min-width: 769px) {
	.item_btn.btn {
		margin-left: 40px;
	}
}
