.front,
.back {
	display: flex;
	gap: 20px;
	border: 2px solid var(--green100);
	padding: 16px;
	border-radius: 8px;
	background-color: var(--whiteBase);
}
.front {
	flex-direction: column;
}
.back {
	padding: 40px;
	align-items: center;
}
.name {
	font-size: 32px;
}
.price {
	font-size: 24px;
	margin-top: auto;
}
.catalog {
	padding: 2px 9px;
	border: 2px solid var(--greenBase);
	border-radius: 8px;
	width: max-content;
	font-size: 14px;
}
.image {
	width: 100%;
	object-fit: cover;
}
