.wrapper {
}
.btn {
	display: flex;
	border: 2px solid;
	border-radius: 8px;
	padding: 8px;
	transition: 0.2s ease;
}
.actions {
	display: flex;
	column-gap: inherit;
}
.edit_btn {
	border-color: teal;
	color: teal;
	&:hover {
		background-color: teal;
		color: var(--whiteBase);
	}
}
.delete_btn {
	border-color: var(--danger);
	color: var(--danger);
	&:hover {
		background-color: var(--danger);
		color: var(--whiteBase);
	}
}
