.wrapper {
	display: flex;
	height: 100vh;
	overflow: auto;
	background-color: var(--white100);
}
.content {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.header {
	align-items: center;
	background-color: var(--whiteBase);
	padding: 20px 30px;
	display: flex;
	.add_btn {
		display: flex;
		column-gap: 5px;
		align-items: center;
		padding: 10px 20px;
		font-size: 14px;
		margin-left: auto;
	}
}
.sidebar_open_btn {
	display: flex;
}
